OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_LLM_MODEL=llama3.2
OLLAMA_EMBED_MODEL=mxbai-embed-large
EMBED_MAX_CHARS=3500

VECTOR_DB=chroma

PORT=9000

CHROMA_DIR=./chroma_amazon_db
COLLECTION_NAME=amazon_products

QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=amazon_products

# Indexing
HF_DATASET_ID=milistu/AMAZON-Products-2023
HF_SPLIT=train
INDEX_LIMIT=5000
FORCE_REINDEX=false
